.domain-row {
  padding: 0 30px;
  position: relative;
}
.domain-row .domain-name {
  float: left;
  max-width: calc(100% - 310px);
  font-size: 25px;
}
.domain-row .domain-name.no-price {
  max-width: calc(100% - 140px);
}
.domain-row .domain-name .matbao-whois-used,
.domain-row .domain-name .matbao-domain-whois {
  max-width: 100%;
  word-wrap: break-word;
}
.domain-row .domain-price {
  float: right;
  line-height: 20px;
  text-align: right;
  font-family: 'Roboto Condensed';
  font-size: 15px;
  margin-right: 15px;
  margin-right: 145px;
}
.domain-row .domain-price .pricenewUnit {
  font-size: 18px;
}
.domain-row .domain-price p {
  margin: 0 0;
}
.domain-row .domain-price p:first-child {
  color: #787878;
  text-decoration: line-through;
}
.domain-row .domain-price .pricenew {
  padding-left: 0;
  font-size: 14px;
  color: #ff8033;
  font-weight: bold;
  font-size: 18px;
}
.domain-row .domain-price.no-price {
  display: none;
}
.domain-row .domain-button {
  float: right;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.domain-row .domain-button .button-mua-domain {
  width: 130px;
}
.domain-row .domain-button .green {
  background-color: #9acf1c;
}
.whoIsTenMienPartial .domain-row {
  margin-top: 15px;
  margin-bottom: 15px;
}
.whoIsTenMienPartial .domain-row .domain-name:not(.no-price) {
  margin-top: 10px;
}
.whoIsTenMienPartial .matbao-domain-whois,
.whoIsTenMienPartial .matbao-domain-name,
.whoIsTenMienPartial .matbao-whois-used {
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
}
.whoIsTenMienPartial .matbao-domain-whois,
.whoIsTenMienPartial .matbao-domain-name {
  color: #333;
}
.comboDomainItem {
  font-size: 18px;
  font-weight: 400;
  /*-webkit-text-stroke-width: .2px;*/
  text-shadow: 0.2px 0 0 #000;
}
.dotted-spaced {
  background-image: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(right, #333333 29%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  margin: 0 15px;
  margin-bottom: -15px;
}
.tenMienBaoVay-popup .itemWhoisPopup {
  padding: 15px 30px !important;
}
.result-domain-khac .pricenew {
  font-size: 16px !important;
}
.result-domain-khac .gia-gia-han {
  font-size: 12px;
}
.result-domain-khac .pricenewUnit {
  font-size: 16px !important;
}
.result-domain-khac .matbao-domain-name {
  display: inline-block;
}
.btnTiepTucMua {
  color: #fff;
  background-color: #ef6c0f;
  min-height: 58px;
  border-radius: 0;
  border: 0 solid transparent;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
}
.btnTiepTucMua.disAble {
  background-color: rgba(239, 108, 15, 0.5);
}
.panelDomainKhac {
  margin-top: 20px;
  padding-left: 30px;
}
.btn-search-mobile {
  padding-left: 18px !important;
}
@media(max-width:568px)
{
   
      .matbao-checkwhois-search:after
      {
          position:relative;
          z-index:999;
      }
}
@media (max-width: 768px) {
  .panelDomainKhac {
    padding-left: 15px;
  }
  .domain-row {
    padding: 0 15px;
  }
  .domain-row .domain-name {
    /*margin-bottom: 10px;*/
    max-width: 100%;
    width: 100%;
  }
  .domain-row .domain-name.no-price {
    max-width: 100%;
  }
  .domain-row .domain-price {
    text-align: left;
    float: left;
    margin-right: 15px;
  }
  .domain-row .domain-button {
    bottom: 0;
    top: unset;
    transform: none;
    right: 15px;
  }
  .domain-row .domain-button .button-mua-domain {
    width: 65px;
  }
  .whoIsTenMienPartial .domain-row {
    margin: 0;
    padding: 0;
  }
  .whoIsTenMienPartial .domain-row .domain-button {
    position: static;
    transform: none;
  }
  .whoIsTenMienPartial .domain-row .domain-name.no-price {
    max-width: calc(100% - 65px);
  }
  .check-domain .result-domain .result-whois .text-combo {
    padding: 0 15px;
  }
  .textbox-whois-mobile {
    border-radius: 5px;
  }
  .box-ads-tenmien {
    padding-bottom: 20px;
  }
  .text-ket-qua-whois {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  .tenMienItemBorder {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .tmGiaKM {
    font-size: 18px !important;
  }
}
@media (max-width: 1024px) {
  .box-ads-tenmien-item .title {
    font-size: 18px;
  }
}
@font-face {
  font-family: 'Arial Narrow';
  src: url('fonts/Arial Narrow.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Arial Narrow Bold';
  src: url('fonts/Arial Narrow Bold.ttf') format('truetype');
}
/*# sourceMappingURL=CheckDomain.css.map */